@tailwind base;
@tailwind components;
@tailwind utilities;

.home{
    background: #314755;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26a0da, #314755);
    background: linear-gradient(to right, #26a0da, #314755);
}